body {
    margin: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


.lilly {
    position: absolute;
    top: 0px;
    left: 0px;
}

.flowers {
    position: absolute;
    right: 20px;
    bottom: 0px;
    
}

.top {
    background-color: #748DA6;
    position: relative;
    padding: 50px 0 50px 0;
}

.middle {
    background-color: #F2D7D9;
    padding: 50px 0 50px 0;
}

.bottom {
    background-color: #9CB4CC;
    padding: 20px 0 20px 0;
    border-top: 3px solid #748DA6;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: #F2D7D9;
    font-size: 5em;
}

h2 {
    font-family: 'Satisfy', cursive;
    color: #748DA6;
}

a {
    color: #748DA6;
    text-decoration: none;
}

a:hover {
    color: #D3CEDF;
}

.tagline {
    color: #F2D7D9;
    font-family: 'Quicksand', sans-serif;
}

/*columns*/
.row {
    width: "50%";
    margin: 0 auto;
}

.column {
    display: inline-block;

}

.left {
    float: middle;
    width: 33%;
}

.center {
    padding: none;
}

.right {
    width: 33%;
}

.clear {
    clear: both;
}

/*images*/
.image-computer {
    width: 50%;
}

.headshot {
    border-radius: 100px
}

/*list styles*/
ul {
    list-style: none;
}

hr {
    border-top: dotted #9CB4CC 15px;
    border-bottom: none;
    width: 20%;
    margin: 70px auto 70px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px; /*adds a slight curve*/
    background-color: #9CB4CC;
    padding: 25px;
    margin: 150px auto;
    border: 3px solid #748DA6;
}
 
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
    color: #F2D7D9; 
    border-color: #748DA6;
    background-color: #9CB4CC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button-text {
    color: #F2D7D9; 
}